@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

:root {
    --main-bg-color: #E9E9E9;
    --primary-text-color: #424242;
    --accent-color: #FF3F3C;
    --secondary-accent-color: #DDDDDD;
}

body {
    background: var(--main-bg-color);
    color: var(--primary-text-color);
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 30px;
    margin-bottom: 100px;
}

header h1 {
    margin: 0;
    font-weight: normal;
    color: var(--primary-text-color);
}

main {
    background: url('/images/polaroid-masthead.png') no-repeat center 100px;
    margin: 0 auto;
    width: 1000px;
}

.title {
    text-align: center;
    min-height: 800px;
}

.title h2 {
    font-size: 9em;
    line-height: 1em;
    text-transform: uppercase;
    margin: 0;
}

h3 {
    text-align: center;
    font-size: 3em;
}

p {
    text-align: justify;
    width: 800px;
    margin: auto;
    margin-bottom: 60px;
    font-size: 1.5em;
}

ul {
    text-align: justify;
    width: 800px;
    font-size: 1.5em;
    margin: auto;
}

.details ul li {
    list-style-type: none;
    margin: 20px 0;
    padding: 0 0 0 60px;
}

.details ul li.wifi {
    background: url('/images/wifi-solid.svg') no-repeat center left;
}

.details ul li.cloud {
    background: url('/images/cloud-arrow-up-solid.svg') no-repeat center left;
}

.details ul li.qr {
    background: url('/images/qrcode-solid.svg') no-repeat 0.8%;
}

.details ul li.photos {
    background: url('/images/photo-film-solid.svg') no-repeat center left;
}

.cta h3 {
    margin-top: 100px;
    margin-bottom: 30px;
}

.email-form {
    text-align: center;
    margin: auto;
    margin-bottom: 100px;
    background: var(--secondary-accent-color);
    border: 30px solid var(--secondary-accent-color);
    border-radius: 20px;
    width: 660px;
}

.email {
    width: 450px;
    padding: 20px 0 20px 20px;
    font-size: 1em;
    color: var(--primary-text-color);
    border: 0px;
    border-radius: 2px;
}

.enter {
    width: 170px;
    padding: 20px 20px;
    margin-left: 10px;
    font-size: 1em;
    font-weight: bold;
    background: var(--accent-color);
    color: var(--main-bg-color);
    text-transform: uppercase;
    border: 0px;
    border-radius: 2px;
}